h3:hover {
    border: 6px black solid;
}

#primária {
    background-color: blue;
}

#secundária {
    background-color: blueviolet;
}

#complementar {
    background-color: yellowgreen;
}

#escura {
    background-color: red;
}

#clara {
    background-color: pink;
}

#estilize {
    text-decoration:underline;
    text-align: center;
    font-size: 30px;
    text-decoration-color: whitesmoke;
}

.italia {
    font-style: italic;
}